textarea {
    border: 1px solid #eee;
    font-size: 0.8em;
    color: #848484;
}

.summary {
    color: #7b7b7b;
    line-height: 1.3em;
}

body { font-family: arial; }
ul { min-height: 50px; border: solid 1px #000; padding: 5px; list-style: none; }
li { padding: 5px; margin: 5px; background-color: #eee; border: solid 1px #ddd; }
